<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Responsive View -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentation</title>
    <!-- Bootstrap Connection -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <style>
        .carousel-item img {
          max-height: 800px; /* Set the maximum height you want */
          object-fit: contain; /* Ensure the image fits within the container without distortion */
        }
      </style>
</head>

<body>
    <!-- brand bar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../static/images/logo.png" alt="Bootstrap">
            </a>
        </div>
    </nav>

    <!-- press release and image here?  -->

    <!-- carousel -->
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                aria-label="Slide 6"></button>
        </div>
        <div class="carousel-inner">
            <!-- Slide 1 -->
            <div class="carousel-item active">
                <img src="path/tojpeg" class="d-block w-100" alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Slide Title 1</h5>
                    <p>This is a description for slide 1. You can add more details here.</p>
                </div>
            </div>
            <!-- Slide 2 -->
            <div class="carousel-item">
                <img src="path/tojpeg" class="d-block w-100" alt="Slide 2">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Slide Title 2</h5>
                    <p>Paragraph here</p>
                </div>
            </div>
            <!-- Slide 3 -->
            <div class="carousel-item">
                <img src="path/tojpeg" class="d-block w-100" alt="Slide 3">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Slide Title 3</h5>
                    <p>Paragraph here</p>
                </div>
            </div>
            <!-- Slide 4 -->
            <div class="carousel-item">
                <img src="../static/images/epoch_loss.jpg" class="d-block w-100" alt="Slide 4">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Slide Title 4</h5>
                    <p>Paragraph here</p>
                </div>
            </div>
            <!-- Slide 5 -->
            <div class="carousel-item">
                <img src="../static/images/epoch_accuracy.jpg" class="d-block w-100" alt="Slide 5">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Slide Title 5</h5>
                    <p>Paragraph here</p>
                </div>
            </div>
            <!-- Slide 6 -->
            <div class="carousel-item">
                <img src="../static/images/confusion_matrix.jpg" class="d-block w-100" alt="Slide 6">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Slide Title 6</h5>
                    <p>Paragraph here</p>
                </div>
            </div>
        </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
    </div>

    <!-- Connect to D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js"
        integrity="sha512-vc58qvvBdrDR4etbxMdlTt4GBQk1qjvyORR2nrsPsFPyrs+/u5c3+1Ct6upOgdZoIl7eq6k3a1UPDSNAQi/32A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>