/* color scheme-- Light blue: #467da3, Dark blue: 002f5b, White: ffffff */

/* Custom background color for the navbar */
.navbar-custom {
  background-color: #467da3; /* Change this to your preferred background color */
}

.navbar-brand img {
  height: 3rem; /* Adjust height of the brand logo */
  width: auto;
}

.form-control {
  width: auto;
}

/* Ensure text color is white for navbar items */
.navbar-brand,
.navbar-nav .nav-link,
.form-control,
.btn-outline-light {
  color: #002f5b; /*text color */
}

.b2 {
  font-family: sans-serif;
  color: navy;
  font-size: 1rem;
  text-indent: none;
}

.bsearch {
  text-align: right; /* Aligns the form to the right */
}

h5 {
  font-family: sans-serif;
  color: navy;
  font-size: 1rem;
}
input.form-control {
  height:100%;

}

.carousel-item img {
  max-width: 100%; 
  /* Set the maximum height you want */
  /*object-fit: contain; /* Ensure the image fits within the container without distortion */
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #c3c5c6 !important;
  margin: 0;
  padding: 0;
}

#text {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:  19px;

}

.diagnosis {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 19px;
}

.dropdownMenu {
  font-size: 19px !important;
  max-width: 250px; 
  margin: 0 auto;  
}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  color:#002f5b;
}

#counter1 {
  color: #28a745; 
  font-weight: bold; 
  font-size: 20px; 
}

#counter2 {
  color: #dc3545; 
  font-weight: bold; 
  font-size: 20px; /
}

h1 {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 4rem;
color:#002f5b;
}

h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 3rem;
  color:#002f5b;
  
  }