h1 { font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 100px;
  font-kerning: 10px;
  font-weight: bold;
  color: whitesmoke;
  text-align: justify;
  text-underline-position: 2px solid rgb(121, 170, 146);
  margin-top: 50%;
}

p2 { font-family: sans-serif;
  color: whitesmoke;
  font-kerning: 10px;
  margin-bottom: 35px;
}

p3 { font-family: sans-serif;
  color: whitesmoke;
  font-kerning: 10px;
  margin-bottom: 10px;
  margin-left: 35px;
  margin-right: 35px;
}

h4 {
  font-size: 1.75rem;
  color: whitesmoke;
  margin-top: 35px;
  margin-left: 35px;
  margin-bottom: 35px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #42504b;
}

#map {
  width: 100%;
  height: 100%;
  margin-bottom: 35px;
  border-radius: 5px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 340px;
  height: 10px;
  background: linear-gradient(to right, rgb(24, 25, 90), rgb(47, 114, 124), rgb(105, 232, 232), #f0ea7c, orange, rgb(123, 16, 16));;
  outline: none;
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #000000;
  cursor: pointer;
  border-radius: 100%;
}

#percentage-container{
  text-align: left;
  margin-top: 35px;
  margin-left: 35px;
  margin-bottom: 35px;
  margin-right: 35px;
  color: whitesmoke;
}

#slider-container{
  text-align: left;
  margin-top: 35px;
  margin-left: 35px;
  margin-right: 35px;
  color: whitesmoke;
}

#summary-container{
  text-align: left;
  color: whitesmoke;
}