/* color scheme-- Light blue: #467da3, Dark blue: 002f5b, White: ffffff */

/* Custom background color for the navbar */
.bg-custom {
  background-color: #467da3; /* Change this to your preferred background color */
}

.navbar-brand img {
  height: 3rem; /* Adjust height of the brand logo */
  width: auto;
}

.form-control {
  width: auto;
}

/* Ensure text color is white for navbar items */
.navbar-brand,
.navbar-nav .nav-link,
.form-control,
.btn-outline-light {
  color: #002f5b; /*text color */
}

.b2 {
  font-family: sans-serif;
  color: navy;
  font-size: 1rem;
  text-indent: none;
}

.bsearch {
  text-align: right; /* Aligns the form to the right */
}

h5 {
  font-family: sans-serif;
  color: navy;
  font-size: 1rem;
}
